 <form *ngIf="nowEdit; else editBlock" class="row mb-2" [formGroup]="updUser">
   <div class="col-1">{{person.id}}</div>
   <div class="col-2" #personIdDiv><input class="form-control" type="text" placeholder="Имя" name=""
       formControlName="firstName" [value]=""></div>
   <div class="col-2">
     <input class="form-control" type="text" placeholder="Фамилия" name="" formControlName="lastName" value="">
   </div>
   <div class="col-2">
     <input class="form-control" type="text" formControlName="phone" prefix="+7 " mask="(000) 000 00 00"
       placeholder="+7 (000) 000 00 00" value="">
   </div>
   <div class="col-3">
     <button class="btn btn-primary" type="button" #editBtn [disabled]="updUser.valid"
       (click)="onEdit(person.id)">Cохранить</button>
   </div>
   <div class="col-2">
     <button class="btn btn-danger" type="button" (click)="onDelete(personIdDiv.innerHTML)">Удалить</button>
   </div>
 </form>


 <ng-template #editBlock>
   <div class="row mb-2">
     <div class="col-1" #personIdDiv>{{person.id}}</div>
     <div class="col-2" #firstNameData>{{person.firstName}}</div>
     <div class="col-2" #lastNameData>{{person.lastName}}</div>
     <div class="col-2" #phoneData>{{person.phone}}</div>
     <div class="col-3">
       <button class="btn btn-primary" type="button" #editBtn [disabled]="updUser.valid"
         (click)="onEdit(personIdDiv.innerHTML, firstNameData, lastNameData, phoneData, editBtn)">Редактировать</button>
     </div>
     <div class="col-2">
       <button class="btn btn-danger" type="button" (click)="onDelete(personIdDiv.innerHTML)">Удалить</button>
     </div>
   </div>
 </ng-template>
