<form [formGroup]="newUser" method="get" action="">
  <div class="row">
    <div class="col-12">
      <input class="form-control" placeholder="Имя" type="text" name="" formControlName="name">
    </div>
    <div class=" col-12">
      <input class="form-control mt-2" type="text" placeholder="Фамилия" name="" formControlName="surname">
    </div>
    <div class="col-12">
      <input class="form-control mt-2" type="text" prefix="+7 " mask="(000) 000 00 00" placeholder="+7 (000) 000 00 00"
        formControlName="phone" />
    </div>
    <div class=" col-12">
      <button class="btn btn-primary mt-2 btn-lg" type="button" (click)="onAddPerson()"
        [disabled]="newUser.invalid">Добавить</button>
    </div>
  </div>
</form>
